<body>
<div class="container">
  <table>
    <tbody>
    <tr>
      <td routerLink="uverenje-o-redovnom-studiranju">Uverenje o redovnom studiranju</td>
    </tr>
    <tr>
      <td routerLink="uverenje-o-polozenim-ispitima">Uverenje o polozenim ispitima</td>
    </tr>
    <tr>
      <td routerLink="uverenje-o-prosecnoj-oceni">Uverenje o prosecnoj oceni</td>
    </tr>
    <tr>
      <td routerLink="uverenje-o-zavrsetku-studija">Uverenje o zavrsetku studija</td>
    </tr>
    <tr>
      <td routerLink="potvrda-o-prijavi-rasporeda-ispita">Potvrda o prijavi rasporeda ispita</td>
    </tr>
    <tr>
      <td routerLink="priznanje-ispita">Priznanje ispita</td>
    </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
</body>
