<body>
<ul class="modern-list">
  <li class="list-item"><a routerLink="uverenje-o-redovnom-studiranju">Uverenje o redovnom studiranju</a></li>
  <li class="list-item"><a routerLink="uverenje-o-polozenim-ispitima">Uverenje o polozenim ispitima</a></li>
  <li class="list-item"><a routerLink="uverenje-o-prosecnoj-oceni">Uverenje o prosecnoj oceni</a></li>
  <li class="list-item"><a routerLink="uverenje-o-zavrsetku-studija">Uverenje o zavrsetku studija</a></li>
  <li class="list-item"><a routerLink="potvrda-o-prijavi-rasporeda-ispita">Potvrda o prijavi rasporeda ispita</a></li>
  <li class="list-item"><a routerLink="priznanje-ispita">Priznanje ispita</a></li>
</ul>

<router-outlet></router-outlet>
</body>
