<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="dashboard-container">
  <nav class="sidebar">
    <div class="sidebar-header">
      <h2>Menu</h2>
    </div>
    <ul class="sidebar-menu">
      <li><a routerLink="obavestenja">Obavestenja</a></li>
      <li><a routerLink="dokumenta">Dokumenta</a></li>
      <li><a routerLink="upis-studenata">Upis Studenata</a></li>
      <li><a >Rasporedi</a></li>
      <li><a href="#">Udzbenici</a></li>
    </ul>
  </nav>
  <div class="main-content">
    <header class="topbar">
      <h1>Dashboard</h1>
      <div class="user-info">
        <p>Welcome, {{username}}</p>
        <button class="logout-button" (click)="logout()">Logout</button>
      </div>
    </header>
    <div class="content">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>

