<body>
<div class="flexbox">
  <div class="container">
    <h1>{{fakultet.naziv}}</h1>
    <div *ngFor="let studijskiProgram of fakultet.studijskiProgrami" class="card">
      <button (click)="getStudijskiProgram(studijskiProgram.id)" class="card-btn">{{studijskiProgram.naziv}}</button>
    </div>
    <div class="rukovodilac-container" *ngIf="rukovodilac">
      <div class="rukovodilac-text">
        <p>RUKOVODILAC</p>
      </div>
      <div class="rukovodilac-header">
        <h2>{{ rukovodilac.ime }} {{ rukovodilac.prezime }}</h2>
      </div>
      <div class="rukovodilac-biography">
        <p>{{ rukovodilac.biografija }}</p>
      </div>
    </div>
    <div class="studijski-program-container" *ngIf="studijskiProgram">
      <div class="studijski-program-header">
        <h2>{{ studijskiProgram.naziv }}</h2>
      </div>
      <div class="studijski-program-description">
        <p>{{ studijskiProgram.opis }}</p>
      </div>
    </div>
    <p-table [value]="predmeti" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th>Naziv</th>
          <th>Espb</th>
          <th>Obavezan</th>
          <th>Broj Predavanja</th>
          <th>Broj Vezbi</th>
          <th>Nastavnik</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-predmet>
        <tr>
          <td>{{predmet.naziv}}</td>
          <td>{{predmet.espb}}</td>
          <td>{{predmet.obavezan ? "Obavezan" : "Izborni"}}</td>
          <td>{{predmet.brojPredavanja}}</td>
          <td>{{predmet.brojVezbi}}</td>
          <td>{{predmet.nastavnik.ime}} {{predmet.nastavnik.prezime}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
</body>
