<p-dropdown
  [options]="studenti"
  [(ngModel)]="selectedStudent"
  [filter]="true"
  [showClear]="true"
  (onChange)="selectStudent()"
  appendTo="body"
  filterBy="brojIndeksa,student.ime,student.prezime"
  placeholder="Izaberite Studenta">
  <ng-template let-student pTemplate="item">
    {{ student.brojIndeksa }} {{ student.student.ime }} {{ student.student.prezime }}
  </ng-template>
  <ng-template pTemplate="selectedItem" let-student>
    <div class="flex align-items-center gap-2">
      <div>{{ student.brojIndeksa }} {{ student.student.ime }} {{ student.student.prezime }}</div>
    </div>
  </ng-template>
</p-dropdown>
