<p-toast></p-toast>
<p-dropdown
  [options]="predmeti"
  [(ngModel)]="selectedPredmet"
  (onChange)="loadEvents()"
  [loading]="loading"
  optionLabel="naziv"
  placeholder="Izaberite Predmet"
>

</p-dropdown>

<full-calendar #calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
  <ng-template #eventContent let-arg>
    <b>{{ arg.timeText }}</b>
    <i>{{ arg.event.title }}</i>
    <br>
    <i>{{ arg.event.extendedProps.description }}</i>
  </ng-template>
</full-calendar>

<p-dialog
  [visible]="visible"
  [showHeader]="false"
  [style]="{width: '35vw'}"
  [modal]="true"
  [draggable]="false">

  <div class="header">
    <div class="row">
      <h3>Instrument Evaluacije</h3>
      <div>
        <span class="p-buttonset">
        <button pButton (click)="sacuvaj()" class="p-button-sm" type="button" label="Sacuvaj" icon="pi pi-check"></button>
        <button pButton (click)="otkazi()" severity="secondary" class="p-button-outlined p-button-sm" type="button" label="Otkazi" icon="pi pi-times"></button>
      </span>
      </div>
    </div>
  </div>
  <div class="form-container">
    <div class="form-row">
      <div class="form-group file-upload">
        <label>Izaberite instrument evaluacije:</label>
        <div class="file-upload-wrapper">
          <input type="file" id="file-upload" (change)="onFileSelected($event)">
          <label for="file-upload" class="file-upload-button"></label>
          {{ selectedFile?.name }}
        </div>
      </div>
    </div>
  </div>
</p-dialog>
