<div class="flexbox">
  <div class="dropdowns">
    <p-dropdown
      [options]="studijskiProgrami"
      [(ngModel)]="selectedStudijskiProgram"
      (onChange)="getGodineTrajanja()"
      optionLabel="naziv"
      placeholder="Izaberi Studijski Program" />

    <p-dropdown *ngIf="selectedStudijskiProgram"
      [options]="godineTrajanja"
      [(ngModel)]="godina"
      (onChange)="getPredmeti(selectedStudijskiProgram.id)"
      placeholder="Izaberi Godinu">
      <ng-template let-item pTemplate="item">
        {{ item }}
      </ng-template>
    </p-dropdown>
  </div>
  <p-toast></p-toast>
  <p-confirmPopup></p-confirmPopup>
  <div class="btn-save">
    <button
      (click)="sacuvajIzmene($event)"
      pButton
      pRipple
      label="Sacuvaj Izmene">
    </button>
  </div>
  <div class="btn-reset">
    <button
      (click)="resetujKalendar()"
      [disabled]="btnResetDisabled"
      style="margin-left: 15px;"
      severity="secondary"
      pButton
      pRipple
      label="Resetuj Kalendar">
    </button>
  </div>
</div>
<full-calendar #calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
  <ng-template #eventContent let-arg>
    <b>{{ arg.timeText }}</b>
    <i>{{ arg.event.title }}</i>
  </ng-template>
</full-calendar>

<p-dialog header="Kreairanje Termina Nastave" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <p-dropdown *ngIf="predmeti"
    [options]="predmeti"
    [(ngModel)]="selectedPredmet"
    appendTo="body"
    optionLabel="naziv"
    placeholder="Izaberite Predmet">
  </p-dropdown>
  <p-dropdown *ngIf="tipoviNastave"
    [options]="tipoviNastave"
    [(ngModel)]="selectedTipNastave"
    appendTo="body"
    optionLabel="naziv"
    placeholder="Izaberite Tip Nastave">
  </p-dropdown>
  <small *ngIf="errorVisible" class="error-message">{{ errorMessage }}</small>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
    <p-button label="Save" (onClick)="dialogSave()" />
  </div>
</p-dialog>

<p-dialog header="Brisanje Termina Nastave" [modal]="true" [(visible)]="deleteNastavaVisible" [style]="{ width: '25rem' }">
  <div class="flex justify-content-end gap-2">
    <p-button label="Otkazi" severity="secondary" (onClick)="deleteNastavaVisible = false" />
    <p-button label="Obrisi" severity="danger" (onClick)="deleteNastava($event)" />
  </div>
  <p-confirmPopup></p-confirmPopup>
</p-dialog>

