body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: 100px;
}

.login-btn{
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.login-btn:hover{
  border: 1px solid black;
  color: black;
  background-color: transparent;
}

.register-btn{
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.register-btn:hover{
  background-color: black;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E5E5F7;
  padding: 10px 100px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  margin-left: 20px;
  font-weight: bold;
}

.logo{
  width: 60px;
  aspect-ratio: 1;
  background-image: url("../../assets/logo.png");
  background-size: cover;
}

.link {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 250px;
}

.custom-select {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  font-size: 1em;
  font-family: inherit;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-select-wrapper::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  pointer-events: none;
  color: #495057;
}

