<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Singidunum University Login</title>
</head>
<body>
<div class="container">
  <div class="header">
    <div class="logo-container">
      <div class="logo"></div>
      <div class="logo-text">Univerzitet Singidunum</div>
    </div>
    <div class="nav">
      <a class="link" routerLink="o-univerzitetu">O Univerzitetu</a>
      <a class="link" href="#">Lista Fakulteta</a>
      <a class="login-btn" routerLink="login">Login</a>
      <a class="login-btn" routerLink="register">Register</a>
      test notifikacija
    </div>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
</body>
</html>
