<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="header">
    <div class="logo-container">
      <div class="logo"></div>
<!--     // <div class="logo-text">{{univerzitet[0].naziv}}</div>-->
    </div>
    <div class="nav" style="display: flex; align-items: center">
      <a class="link" routerLink="o-univerzitetu">O Univerzitetu</a>
      <p-dropdown
        [options]="univerzitet[0].fakulteti"
        [(ngModel)]="selectedFakultet"
        (onChange)="onSelectFakultet($event)"
        [style]="{'margin-right': '8px'}"
        optionLabel="naziv"
        placeholder="Izaberi Fakultet" />
      <p-button severity="primary" styleClass="p-button-sm" routerLink="login" [style]="{'margin-right': '8px'}">Login</p-button>
      <p-button severity="secondary" styleClass="p-button-sm" routerLink="register">Register</p-button>
    </div>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
</body>
</html>
