.container {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 15px;
  width: 100%;
}

.flexbox {
  height: 75vh;
  display: flex;
  justify-content: flex-start;
}

.left {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.right {
  flex: 1;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.dropdown {
  display: inline-block;
}

.btn-save {
  display: inline-block;
}

.list-container,
.drop-zone {
  width: 15rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.drop-zone-header {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.item[pDraggable]:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.drop-zone[pDroppable] {
  margin-right: 10px;
  border-color: #007bff;
}

.drop-zone[pDroppable]:hover {
  background-color: #e9f5ff;
}

.row:hover {
  cursor: grab;
  background-color: lightblue;
  transition: 0.15s ease-in;
}

li:hover {
  background-color: lightcoral;
  transition: 0.15s;
}

