<div class="card">
  <p-toast />
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        severity="success"
        label="New"
        icon="pi pi-plus"
        class="mr-2"
        (onClick)="openNew()" />
      <p-button
        severity="danger"
        label="Delete"
        icon="pi pi-trash"
        (onClick)="deleteSelectedProducts()"
        [disabled]="!selectedUsers || !selectedUsers.length" />
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Import"
        chooseLabel="Import"
        class="mr-2 inline-block" />
      <p-button
        severity="help"
        label="Export"
        icon="pi pi-upload" />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="items"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['ime', 'prezime', 'email', 'biografija']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedUsers"
    [rowHover]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Administracija korisnika</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Filter" />
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox />
        </th>
        <th pSortableColumn="ime" style="min-width:15rem">
          Ime <p-sortIcon field="ime" />
        </th>
        <th pSortableColumn="prezime" style="min-width:15rem">
          Prezime <p-sortIcon field="prezime" />
        </th>
        <th pSortableColumn="korisnickoIme">
          Korisnicko ime <p-sortIcon field="korisnickoIme" />
        </th>
        <th pSortableColumn="email" style="min-width:10rem">
          Email <p-sortIcon field="email" />
        </th>
        <th pSortableColumn="biografija" style="min-width:10rem">
          Biografija <p-sortIcon field="biografija" />
        </th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th>
          <p-columnFilter type="text" field="ime" [showClearButton]="true" />
        </th>
        <th>
          <p-columnFilter type="text" field="prezime" [showClearButton]="true" />
        </th>
        <th>
          <p-columnFilter type="text" field="korisnickoIme" [showClearButton]="true" />
        </th>
        <th>
          <p-columnFilter type="text" field="email" [showClearButton]="true" />
        </th>
        <th>
          <p-columnFilter type="text" field="biografija" [showClearButton]="true" />
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-editing="editing">
      <tr>
        <td>
          <p-tableCheckbox [value]="product" />
        </td>
        <td [pEditableColumn]="product.ime" pEditableColumnField="ime">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.ime" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.ime }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.prezime" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.prezime }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.korisnickoIme" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.korisnickoIme }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.email" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.email }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.biografija" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.biografija }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="editProduct(product)" />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (onClick)="deleteItem(product.id)" />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ items ? items.length : 0 }} users.
      </div>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="korisnikDialog"
    [style]="{ width: '450px' }"
    header="Nastavnik informacije"
    [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label for="ime">Ime</label>
        <input
          type="text"
          pInputText
          id="ime"
          [(ngModel)]="nastavnik.ime"
          required
          autofocus />
        <small class="p-error" *ngIf="submitted && !nastavnik.ime">
          Name is required.
        </small>
      </div>
      <div class="field">
        <label for="prezime">Prezime</label>
        <input
          type="text"
          pInputText
          id="prezime"
          [(ngModel)]="nastavnik.prezime"
          required
          autofocus />
        <small class="p-error" *ngIf="submitted && !nastavnik.prezime">
          Prezime is required.
        </small>
      </div>
      <div class="field">
        <label for="email">E-mail</label>
        <input
          type="text"
          pInputText
          id="email"
          [(ngModel)]="nastavnik.email"
          required
          autofocus />
        <small class="p-error" *ngIf="submitted && !nastavnik.email">
          E-mail is required.
        </small>
      </div>
      <div class="field">
        <label for="prezime">Koriscniko ime</label>
        <input
          type="text"
          pInputText
          id="korisnickoIme"
          [(ngModel)]="nastavnik.korisnickoIme"
          required
          autofocus />
        <small class="p-error" *ngIf="submitted && !nastavnik.korisnickoIme">
          Korisnicko ime is required.
        </small>
      </div>

      <div class="field">
        <label for="jmbg">jmbg</label>
        <input
          type="text"
          pInputText
          id="jmbg"
          [(ngModel)]="nastavnik.jmbg"
          required
          autofocus />
        <small class="p-error" *ngIf="submitted && !nastavnik.jmbg">
          jmbg is required.
        </small>
      </div>

      <div class="field">
        <label for="lozinka">Lozinka</label>
        <p-password [(ngModel)]="nastavnik.lozinka" [toggleMask]="true" [disabled]="editPassword" id="lozinka">
          <ng-template pTemplate="header">
            <h6>Pick a password</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider />
            <p class="mt-2">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>Minimum 8 characters</li>
            </ul>
          </ng-template>
        </p-password>
        <small class="p-error" *ngIf="submitted && !nastavnik.prezime">
          Prezime is required.
        </small>
      </div>
      <br>
      <p-floatLabel>
      <textarea
        id="biografija"
        rows="5"
        cols="30"
        pInputTextarea
        [(ngModel)]="nastavnik.biografija"
        [autoResize]="true">
      </textarea>
          <label for="biografija">Biografija</label>
      </p-floatLabel>
      <label></label>
      <div class="field">
        <button type="button" pButton label="Dodaj zvanje" icon="pi pi-plus" (click)="dodajZvanje()"></button>
      </div>
      <div *ngFor="let zvanje of noviZvanja; let i = index" class="field">
        <div class="field">
          <label for="datumIzbora">Datum izbora:</label>
          <p-calendar [iconDisplay]="'input'"  [showIcon]="true" id="datumIzbora" [(ngModel)]="zvanje.datumIzbora" />
        </div>
        <div class="field">
          <label for="datumIzbora">Datum prestanka:</label>
          <p-calendar [iconDisplay]="'input'"  [showIcon]="true" id="datumPrestanka" [(ngModel)]="zvanje.datumPrestanka" />
        </div>
        <label>Naucna Oblast</label>
        <div class="field">
          <p-dropdown
            [options]="nasucneOblasti"
            appendTo="body"
            [(ngModel)]="zvanje.naucnaOblast"
            optionLabel="naziv"
            [filter]="true"
            filterBy="naziv"
            [showClear]="true"
            placeholder="Selektrujte oblast">
            <ng-template pTemplate="selectedItem" let-selectedOption>
              <div class="flex align-items-center gap-2">
                <div>{{ selectedOption.naziv }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>

        <label>Tip zvanja</label>
        <div class="field">
          <p-dropdown
            [options]="tipoviZvanja"
            appendTo="body"
            [(ngModel)]="zvanje.tipZvanja"
            optionLabel="naziv"
            [filter]="true"
            filterBy="naziv"
            [showClear]="true"
            placeholder="Selektrujte tip zvanja">
            <ng-template pTemplate="selectedItem" let-selectedOption>
              <div class="flex align-items-center gap-2">
                <div>{{ selectedOption.naziv }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>


        <button type="button" pButton icon="pi pi-times" class="p-button-danger" (click)="ukloniZvanje(i)"></button>
      </div>


    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        [text]="true"
        (onClick)="hideDialog()" />
      <p-button
        label="Save"
        icon="pi pi-check"
        [text]="true"
        (onClick)="saveProduct()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
