<p-toast></p-toast>

<p-dropdown
  [options]="studijskiProgrami"
  [(ngModel)]="selectedStudijskiProgram"
  (onChange)="studijskiProgramChange()"
  [style]="{'margin-right': '8px'}"
  optionLabel="naziv"
  placeholder="Izaberi Studijski Program" />

<p-dropdown *ngIf="selectedStudijskiProgram"
  [options]="ispitniRokovi"
  [(ngModel)]="selectedIspitniRok"
  (onChange)="selektujIspitniRok()"
  optionLabel="naziv"
  placeholder="Izaberite ispitni rok"
/>

<button
  (click)="resetujKalendar()"
  style="margin-left: 15px"
  severity="secondary"
  pButton
  pRipple
  label="Resetuj Kalendar">
</button>

<full-calendar #calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
  <ng-template #eventContent let-arg>
    <b>{{ arg.timeText }}</b>
    <i>{{ arg.event.title }}</i>
  </ng-template>
</full-calendar>

<p-dialog
  [visible]="visible"
  [showHeader]="false"
  [style]="{width: '35vw'}"
  [modal]="true"
  [draggable]="false">

  <div class="header">
    <div class="row">
      <h3>Nova Evaluacija Znanja</h3>
      <div>
        <span class="p-buttonset">
        <button pButton (click)="sacuvaj()" class="p-button-sm" type="button" label="Sacuvaj" icon="pi pi-check"></button>
        <button pButton (click)="closeDialog()" severity="secondary" class="p-button-outlined p-button-sm" type="button" label="Otkazi" icon="pi pi-times"></button>
      </span>
      </div>
    </div>
  </div>

  <div class="form-container">
    <div class="form-row">
      <div class="form-group">
        <label>Pocetak:</label>
        <p-calendar [(ngModel)]="pocetak" [showTime]="true" appendTo="body"></p-calendar>
      </div>
      <div class="form-group">
        <label>Kraj:</label>
        <p-calendar [(ngModel)]="kraj" [showTime]="true" appendTo="body"></p-calendar>
      </div>
      <div class="form-group">
        <label>Bodovi:</label>
        <p-inputNumber [(ngModel)]="bodovi" mode="decimal" [showButtons]="true" [min]="0" [max]="30"></p-inputNumber>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <p-dropdown [style]="{'width': '100%'}" [options]="predmeti" [(ngModel)]="selectedPredmet" placeholder="Izaberite Predmet" optionLabel="naziv" [showClear]="true" appendTo="body"></p-dropdown>
      </div>
      <div class="form-group">
        <p-dropdown [style]="{'width': '100%'}" [options]="tipoviEvaluacije" [(ngModel)]="selectedTipEvaluacije" [disabled]="true" placeholder="Izaberite Tip Evaluacije" optionLabel="naziv" [showClear]="true" appendTo="body"></p-dropdown>
      </div>
    </div>
    <div class="form-group">
      <label for="editor">Opis Ishoda:</label>
      <textarea [(ngModel)]="opis" id="editor"></textarea>
    </div>
  </div>
</p-dialog>

<p-dialog header="Brisanje Evaluacije Znanja" [modal]="true" [(visible)]="deleteEvaluacijaVisible" [style]="{ width: '25rem' }" draggable="false">
  <div class="flex justify-content-end gap-2">
    <p-button label="Otkazi" severity="secondary" (onClick)="deleteEvaluacijaVisible = false" />
    <p-button label="Obrisi" severity="danger" (onClick)="deleteEvaluacijaZnanja($event)" />
  </div>
  <p-confirmPopup></p-confirmPopup>
</p-dialog>

<p-dialog
  [(visible)]="showWarningDialog"
  modal="true"
  [closable]="false"
  [draggable]="false"
  [resizable]="false"
  [style]="{width: '350px'}"
  class="warning-dialog"
>

  <div class="warning-content">
    <i class="pi pi-exclamation-triangle warning-icon"></i>
    <p>{{ warningMessage }}</p>
  </div>
  <p-footer class="p-footer">
    <button pButton type="button" label="OK" icon="pi pi-check" (click)="closeWarningDialog()"></button>
  </p-footer>
</p-dialog>
