full-calendar {
  margin-top: 16px;
}

.fc {
}

.error-message {
  color: #ff4d4d;
  font-style: italic;
  font-size: 0.875em;
  margin-top: 5px;
  display: block;
}

p-calendar {
  margin-bottom: 10px;
}

.container {
  padding: 0 20px 20px 20px;
}

.field {
  padding: 0;
}

.warning-dialog .warning-content {
  text-align: center;
  font-size: 1.2em;
  color: #d9534f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warning-dialog .warning-icon {
  font-size: 3em;
  color: #d9534f;
  margin-bottom: 10px;
}

.warning-dialog .p-footer {
  display: flex;
  justify-content: center;
}

.warning-dialog .p-button {
  background-color: #d9534f;
  border-color: #d9534f;
  color: #fff;
}

.warning-dialog .p-button:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}

.form-container {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.header {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header h3 {
  margin: 0;
  color: #3b444b;
}

.row {
  width: 100%;
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.form-row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

#editor {
  height: 200px;
  resize: none;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}



