.warning-dialog .warning-content {
  text-align: center;
  font-size: 1.2em;
  color: #d9534f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warning-dialog .warning-icon {
  font-size: 3em;
  color: #d9534f;
  margin-bottom: 10px;
}

.warning-dialog .p-footer {
  display: flex;
  justify-content: center;
}

.warning-dialog .p-button {
  background-color: #d9534f;
  border-color: #d9534f;
  color: #fff;
}

.warning-dialog .p-button:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}
